.payment {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    bottom: 0;
    border-top: 1px solid #999;
    background-color: white;
    padding: 0 10px;
}

.payment .left {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.payment .left span {
    color: #cf4444;
    margin-left: 5px;
}

.payment .left span i {
    font-size: 20px;
    color: #cf4444;
    font-style: normal;
    font-weight: 700;
}

.payment .right {
    display: block;
    width: 91px;
    height: 35px;
    background-color: #54b196;
    border-radius: 3px;
}

.payment .right a {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    color:white;
}

body {
    background-color: gray;
}

.main {
    padding: 10px 10px 90px;
    background-color: gray;
}

.main>div {
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
}

/*********************** 订单头部：用户信息相关 ***********************/
.order-address {
    display: flex;
    align-items: center;
}

/* 订单位置icon */
.main .order-address .address-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    background-color: aquamarine;
}

.order-address .user-info {
    flex: 1;
}

.order-address .more {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}

.order-address .user-info .top {
    display: flex;
    height: 13px;
    align-items: center;
}

.order-address .user-info .top .name {
    margin-right: 15px;
    font-size: 14px;
}

.order-address .user-info .bottom {
    margin-top: 10px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*********************** 订单中部：商品信息相关 ***********************/

.main .goods {
    display: flex;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    background-color: white;
}

.main .goods img {
    width: 85px;
    height: 85px;
    background-color: white;
}

.main .goods .goods-info {
    flex: 1;
    margin: 0 10px;
}

.main .goods .goods-info h4 {
    font-weight: 400;
}

.main .goods .goods-info p {
    margin: 8px 0;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main .goods .goods-info .goods-tags-bg-color {
    display: inline-block;
    padding: 4px;
    border-radius: 5px;
    font-size: 11px;
    color: #888;
    /* 不要设置他的宽度，因为内部文字可能会变化,采用行内块即可拉伸 */
    background-color: #eee;
    margin-bottom: 8px;
}

.main .goods .goods-info span {
    color: #cf4444;
    font-size: 11px;
    margin-right: 12px;
}

.main .goods .goods-info span i {
    color: #cf4444;
    font-size: 16px;
}

.main .goods .goods-info del {
    font-size: 11px;
    color: #888;
}

.main .goods .count {
    width: 44px;
    padding-top: 20px;
    text-align: center;
}