/* 专门放置header、footer公共样式 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut ul {
    float: right;
}

.shortcut li {
    float: left;
    height: 52px;
    line-height: 52px;
}

.shortcut a {
    color: #fff;
}

.shortcut .line {
    width: 1px;
    height: 14px;
    background-color: #333;
    margin: 19px 16px 0;
}

/* 使用.shortcut .phone为了增加权重 */
.shortcut .phone::before {
    /* 因为是行内块元素，先转模式 */
    display: inline-block;
    /* 设置宽高 */
    width: 12px;
    height: 16px;
    /* 伪元素必须设置该属性！！！ */
    content: '';
    /* 使用连写，如果没有图片宽度高度，可以省略，因为他们是最后边的数据，不会影响到内核解析
    如果手动写了宽度和高度，必须写清楚，他们前面的偏移量 */
    background: url(../images/sprites.png) no-repeat -159px -69px;
    /* 手机图片位置有点问题
    解决：
    方法1：行内元素，行内块元素垂直对齐属性 */
    /* vertical-align: middle; */
    /* 
    方法2：使用相对位置，采用top微微调整 */
    position: relative;
    top: 2px;
    padding-right: 3px;
}

.header {
    height: 130px;
}

.logo, .nav, .search {
    float: left;
}

.shopcar {
    float: right;
}

.logo {
    float: left;
    width: 207px;
    height: 70px;
    background-color: #ccc;
    margin-top: 30px;
    margin-left: 25px;
}

.logo a {
    display: block;
    width: 207px;
    height: 70px;
    /* 背景属性连写,如果有背景尺寸, 背景定位的值必写 */
    background: url(../images/logo.png) 0 0 / 100% 100%;
     /* 隐藏a里边的文字 */
    font-size: 0;
}

.nav {
    height: 130px;
    margin-left: 40px;
}

.nav li {
    float: left;
    height: 130px;
    line-height: 130px;
    margin-right: 48px;
}

.nav li a {
    padding-bottom: 7px;
}

.nav li a:hover {
    border-bottom: 1px solid #27ba9b;
}

.search {
    position: relative;
    width: 172px;
    height: 30px;
    margin-top: 50px;
    /* margin-left: 34px; */
}

.search input {
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #999;
    padding-left: 34px;
}

/* input不能添加伪元素，单标签都不能添加伪元素 */
.search::before {
    content: '';
    /* 伪元素是行内元素，不可以直接设置宽高，绝对定位的元素会脱靶，就可以设置宽高了 */
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: url("../images/sprites.png") -78px -67px;
}

.shopcar {
    position: relative;
    width: 24px;
    height: 24px;
    background: url("../images/sprites.png") -119px -68px;
    margin-top: 50px;
    margin-right: 12px;
}

.shopcar span {
    position: relative;
    /* 文字变化，不要设置宽度 */
    left: 12px;
    top: -6px;
    height: 15px;
    padding: 0 5px;
    background-color: #27ba9b;
    font-size: 13px;
    margin-top: -12px;
    border-radius: 7.5px;
}

/* ************************** footer *************************** */

.footer {
    background-color: #333;
    height: 345px;
}

.footer .w {
    width: 1320px;
}

.slogan {
    /* background-color: #fff; */
    height: 174px;
    border-bottom: 1px solid #999;
}

.slogan li {
    float: left;
    width: 33.333%;
    height: 174px;
    padding-left: 135px;
    line-height: 174px;
    color: #fff;
}

.slogan h4 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
}

.slogan span {
    display: inline-block;
    width: 59px;
    height: 59px;
    /* 文字竖直方向对齐方式 */
    vertical-align: middle;
    background: url("../images/sprites.png") 0 0;
}

.slogan ul li:nth-child(2) span {
    background: url("../images/sprites.png") -63px 0;
}

.slogan ul li:nth-child(3) span {
    background: url("../images/sprites.png") -128px 0;
}

.footer-links {
    text-align: center;
    font-size: 14px;
    margin-top: 41px;
}

.footer-links a {
    color: #fff;
}

.footer-links span {
    margin: 0 4px;
    color: #fff;
}

.copyright {
    /* 文字水平对齐方式 */
    text-align: center; 
    margin-top: 25px;
    color: #fff;
}