.box {
  width: 5.33333333rem;
  height: 5.33333333rem;
  background-color: green;
}
.box .son {
  background-color: yellow;
}
.box:hover {
  background-color: red;
}
.test {
  color: yellow;
}
.dad {
  color: yellow;
}
.jerry {
  color: yellow;
}
* {
  margin: 0;
  padding: 0;
}
